[KGameTheme]
VersionFormat=1
Name=Kolf Default Theme
Name[bs]=Podrazumijevana tema Kolfa
Name[ca]=Tema predeterminat del Kolf
Name[ca@valencia]=Tema predeterminat del Kolf
Name[cs]=Výchozí motiv Kolf
Name[da]=Kolfs standardtema
Name[de]=Standard
Name[el]=Προκαθορισμένο θέμα Kolf
Name[en_GB]=Kolf Default Theme
Name[es]=Tema predeterminado para Kolf
Name[et]=Kolfi vaiketeema
Name[fi]=Kolf-pelin oletusteema
Name[fr]=Thème par défaut de Kolf
Name[ga]=Téama Réamhshocraithe Kolf
Name[it]=Tema predefinito per Kolf
Name[km]=ល្បែង​លំនាំ​ដើម​​របស់​ Kolf
Name[nb]=Standardtema for Kolf
Name[nds]=Kolf-Standardutsehn
Name[nl]=Standaardthema van Kolf
Name[pl]=Domyślny motyw Kolf
Name[pt]=Tema Predefinido do Kolf
Name[pt_BR]=Tema padrão do Kolf
Name[ru]=Оформление по умолчанию для Kolf
Name[sr]=Подразумевана тема Колфа
Name[sr@ijekavian]=Подразумијевана тема Колфа
Name[sr@ijekavianlatin]=Podrazumijevana tema Kolfa
Name[sr@latin]=Podrazumevana tema Kolfa
Name[sv]=Kolf standardtema
Name[ug]=Kolf كۆڭۈلدىكى ئۆرنىكى
Name[uk]=Типова тема Kolf
Name[x-test]=xxKolf Default Themexx
Name[zh_CN]=Kolf 默认主题
Name[zh_TW]=Kolf 的預設主題
Description=Kolf Default Theme
Description[bs]=Podrazumijevana tema Kolfa
Description[ca]=Tema predeterminat del Kolf
Description[ca@valencia]=Tema predeterminat del Kolf
Description[cs]=Výchozí motiv Kolf
Description[da]=Kolfs standardtema
Description[de]=Das Standard-Design von Kolf.
Description[el]=Προκαθορισμένο θέμα Kolf
Description[en_GB]=Kolf Default Theme
Description[es]=Tema predeterminado para Kolf
Description[et]=Kolfi vaiketeema
Description[fi]=Kolf-pelin oletusteema
Description[fr]=Thème par défaut de Kolf
Description[ga]=Téama Réamhshocraithe Kolf
Description[it]=Tema predefinito per Kolf
Description[km]=ហ្គោល ខ្នាត​តូច
Description[nb]=Standardtema for Kolf
Description[nds]=Kolf-Standardutsehn
Description[nl]=Standaardthema van Kolf
Description[pl]=Domyślny motyw Kolf
Description[pt]=Tema Predefinido do Kolf
Description[pt_BR]=Tema padrão do Kolf
Description[ru]=Оформление по умолчанию для Kolf
Description[sr]=Подразумевана тема Колфа
Description[sr@ijekavian]=Подразумијевана тема Колфа
Description[sr@ijekavianlatin]=Podrazumijevana tema Kolfa
Description[sr@latin]=Podrazumevana tema Kolfa
Description[sv]=Kolf standardtema
Description[ug]=Kolf كۆڭۈلدىكى ئۆرنىكى
Description[uk]=Типова тема Kolf
Description[x-test]=xxKolf Default Themexx
Description[zh_CN]=Kolf 默认主题
Description[zh_TW]=Kolf 的預設主題
FileName=default_theme.svgz
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
