[Desktop Entry]
Encoding=UTF-8
DocPath=kolf/index.html
Name=Kolf
Name[ar]=لعبة الجولف (Kolf)
Name[bn]=কল্‌ফ
Name[eo]=Golfo
Name[hi]=कोल्फ
Name[pa]=ਕੇ-ਗੋਲਫ਼
Name[ru]=Гольф
Name[ta]=கால்ஃப்
Name[tg]=Колф

Type=Application
Exec=kolf %U
Icon=kolf
MimeType=application/x-kourse;application/x-kolf

GenericName=Miniature Golf
GenericName[bg]=Миниатюрен голф
GenericName[bn]=ছোটখাটো গলফ
GenericName[bs]=Minijaturni golf
GenericName[ca]=Golf en miniatura
GenericName[cs]=Miniaturní golf
GenericName[cy]=Golff Bach
GenericName[da]=Miniaturegolf
GenericName[de]=Minigolf
GenericName[el]=Μίνι γκολφ
GenericName[eo]=Eta golfludo
GenericName[es]=Golf en miniatura
GenericName[et]=Miniatuurne golf
GenericName[eu]=Golf txikia
GenericName[fi]=Pienoisgolf
GenericName[fr]=Golf miniature
GenericName[gl]=Golf en miniatura
GenericName[he]=מיני־גולף
GenericName[hi]=लघु गोल्फ
GenericName[hr]=Mini-golf
GenericName[hu]=Minigolf
GenericName[is]=Minigolf
GenericName[it]=Minigolf
GenericName[ja]=ミニチュアゴルフ
GenericName[lt]=Miniatiūrinis golfas
GenericName[lv]=Miniatūrs Golfs
GenericName[mk]=Минијатурен голф
GenericName[nb]=Minigolf
GenericName[nl]=Miniatuurgolf
GenericName[nn]=Minigolf
GenericName[pa]=ਛੋਟੀ ਗੋਲਫ਼ ਭੇਜੋ
GenericName[pl]=Miniaturowy Golf
GenericName[pt]=Golfe em Miniatura
GenericName[pt_BR]=Mini-Golf
GenericName[ro]=Golf în miniatură
GenericName[ru]=Гольф в миниатюре
GenericName[sk]=Miniatúrny golf
GenericName[sl]=Mini golf
GenericName[sr]=Минијатурни голф
GenericName[sr@Latn]=Minijaturni golf
GenericName[sv]=Minigolf
GenericName[ta]=சிறிய கால்ஃப்
GenericName[tg]=Колф дар шакли хурд
GenericName[tr]=Minyatür Golf
GenericName[uk]=Мініатюрний гольф
GenericName[wa]=Golf miniateure
GenericName[xh]=Igalufa encinci
GenericName[zh_CN]=微型高尔夫
GenericName[zh_TW]=迷你高爾夫
GenericName[zu]=Igalofu elincanyana
Categories=Qt;KDE;Game;ArcadeGame;
