[Desktop Entry]
Encoding=UTF-8
DocPath=kolf/index.html
Name=Kolf
Name[eo]=Golfo
Name[ru]=Гольф

Type=Application
Exec=kolf %U
Icon=kolf
MimeType=application/x-kourse;application/x-kolf

GenericName=Miniature Golf
GenericName[bg]=Миниатюрен Golf
GenericName[bs]=Minijaturni golf
GenericName[ca]=Golf en miniatura
GenericName[cs]=Miniaturní golf
GenericName[da]=Miniaturegolf
GenericName[de]=Minigolf
GenericName[el]=Μίνι γκολφ
GenericName[eo]=Eta golfludo
GenericName[es]=Golf en miniatura
GenericName[et]=Miniatuurne golf
GenericName[eu]=Golf Txikia
GenericName[fi]=Pienoisgolf
GenericName[fr]=Un golf miniature
GenericName[he]=מיני-גולף
GenericName[hr]=Mini-golf
GenericName[hu]=minigolf
GenericName[is]=Minigolf
GenericName[it]=Minigolf
GenericName[ja]=ミニチュアゴルフ
GenericName[lv]=Miniatūrs Golfs
GenericName[nb]=Miniatyrgolf
GenericName[nl]=miniatuur golf
GenericName[nn]=Minigolf
GenericName[pl]=Miniaturowy Golf
GenericName[pt]=Golf em Miniatura
GenericName[pt_BR]=Golf em Miniatura
GenericName[ro]=Golf în miniatură
GenericName[ru]=Гольф в миниатюре
GenericName[sk]=Miniatúrny golf
GenericName[sl]=Mini golf
GenericName[sv]=Minigolf
GenericName[tr]=Minyatür Golf
GenericName[uk]=Мініатюрний гольф
GenericName[xh]=Igalufa encinci
GenericName[zh_CN]=微型高尔夫
GenericName[zh_TW]=迷你高爾夫
GenericName[zu]=Igalofu elincanyana
