[Desktop Entry]
Name=Kolf
Name[eo]=Golfo
Name[xx]=xx

Type=Application
Exec=kolf
Icon=kolf

GenericName=Miniature Golf
GenericName[ar]=جولف Miniature
GenericName[be]=Мініятурны гольф
GenericName[bg]=Миниатюрен Golf
GenericName[bs]=Minijaturni golf
GenericName[cs]=Miniaturní golf
GenericName[de]=Minigolf
GenericName[el]=Μίνι Γκολφ
GenericName[eo]=Eta golfludo
GenericName[es]=Golf en miniatura
GenericName[eu]=Golf Txikia
GenericName[fi]=Pienoisgolf
GenericName[fr]=Un golf en miniature
GenericName[he]=מיני-גולף
GenericName[hu]=KDE minigolf
GenericName[it]=Minigolf
GenericName[ja]=ミニチュアゴルフ
GenericName[lt]=Miniatiūrinis golfas
GenericName[lv]=Miniatūrs Golfs
GenericName[nl]=Mini golf
GenericName[nn]=Minigolf
GenericName[pt]=Golfe em Miniatura
GenericName[pt_BR]=Golf em Miniatura
GenericName[ro]=Golf în miniatură
GenericName[sk]=Miniatúrny golf
GenericName[sl]=Mini golf
GenericName[sv]=Miniatyrgolf
GenericName[tr]=Minyatür Golf
GenericName[uk]=Мініатюрний гольф
GenericName[ven]=Golf ya Miniature
GenericName[xx]=xx
GenericName[zh_CN]=微型高尔夫
GenericName[zu]=Igalofu Miniature
