<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="Kolf" version="1">
	<MenuBar>
		<Menu name="file"><text>&amp;Game</text>
			<Action name="samecourse" append="new_merge" />
			<Action name="newdefault" append="new_merge" />
		</Menu>
		<Menu name="hole"><text>Ho&amp;le</text>
			<Action name="editing" />
			<Seperator />
			<Action name="newhole" />
			<Action name="clearhole" />
			<Action name="resethole" />
		</Menu>
		<Menu name="go_course"><text>&amp;Go</text>
			<Action name="switchhole" />
			<Action name="nexthole" />
			<Action name="prevhole" />
			<Action name="firsthole" />
			<Action name="lasthole" />
		</Menu>
		<Menu name="help">
			<Action name="aboutcourse" />
			<Action name="tutorial" />
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar" fullWidth="true" noEdit="true">
		<Action name="editing" />
	</ToolBar>
</kpartgui>
