# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kolf
Type=MimeType
Comment=Kolf Saved Game
Comment[ar]=لعبة Kolf محفوظة
Comment[bg]=Записана игра на Kolf
Comment[bn]=কল্‌ফ খেলা সংরক্ষণ করেছে
Comment[br]=C'hoari enrollet Kolf
Comment[bs]=Kolf snimljena igra
Comment[ca]=Partida de Kolf desada
Comment[cs]=Uložená hra Kolfu
Comment[cy]=Gêm Kolf wedi'i Gadw
Comment[da]=Gemt Kolf-spil
Comment[de]=Gespeichertes Kolf-Spiel
Comment[el]=Αποθηκευμένο παιχνίδι Kolf
Comment[es]=Juego de Kolf guardado
Comment[et]=Kolfi salvestatud mäng
Comment[eu]=Kolf-en gordetako jokoa
Comment[fi]=Kolfi-pelitallennus
Comment[fr]=Partie enregistrée de Kolf
Comment[gl]=Xogo de Kolf gravado
Comment[he]=משחק שמור של Kolf
Comment[hi]=सहेजा गया कोल्फ खेल
Comment[hu]=Kolf elmentett játék
Comment[is]=Vistaður Kolf leikur
Comment[it]=Partita di Kolf salvata
Comment[ja]=Kolfの保存されたゲーム
Comment[km]=ល្បែង Kolf ដែល​បាន​រក្សាទុក
Comment[lv]=Kolf Saglabāta spēle
Comment[mk]=Зачувана игра од Колф
Comment[nb]=Kolf lagret spill
Comment[nl]=Opgeslagen Kolf-spel
Comment[nn]=Kolf lagra spel
Comment[pa]=ਗੋਲਫ਼ ਸੰਭਾਲੀ ਖੇਡ
Comment[pl]=Zapisana gra w Kolfa
Comment[pt]=Jogo Gravado do Kolf
Comment[pt_BR]=Jogo Kolf Salvo
Comment[ru]=сохранённая игра в гольф
Comment[sk]=Uložená hra Kolf
Comment[sl]=Shranjena igra Kolf
Comment[sr]=Снимљена игра Kolf-а
Comment[sr@Latn]=Snimljena igra Kolf-a
Comment[sv]=Sparat Kolfspel
Comment[ta]=கோல்ஃப் சேமிக்கப்பட்ட விளையாட்டு
Comment[tg]=Бозии Захиракардаи Голф
Comment[tr]=Kayıtlı Kolf Oyunu
Comment[uk]=Збережена гра в гольф
Comment[zh_CN]=Kolf 保存的游戏
Comment[zh_TW]=Kolf 儲存的遊戲
Icon=kolf
Patterns=*.kolfgame
