# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kourse
Comment=Kolf course
Comment[bs]=Kolf kurs
Comment[cs]=Kurs Kolfu
Comment[da]=Kolf-bane
Comment[de]=Kolf-Platz
Comment[el]=Πίστα kolf
Comment[eo]=Golfo kurso
Comment[es]=Curso de Kolf
Comment[et]=Kolfirada
Comment[fi]=Kolf kenttä
Comment[fr]=Parcours de Kolf
Comment[he]=מסלול Kolf
Comment[hu]=Kolf pálya
Comment[it]=Percorso di Kolf
Comment[ja]=Kolf コース
Comment[nb]=Kolf-kurs
Comment[nl]=Kolf-baan
Comment[nn]=Kolf-bane
Comment[pl]=Tor do gry w Kolfa
Comment[pt]=Percurso do Kolf
Comment[pt_BR]=Curso de Kolf
Comment[ru]=Площадка для гольфа
Comment[sk]=Ihrisko Kolf
Comment[sl]=Ksteza za Kolf
Comment[sv]=Kolfbana
Comment[tr]=Kolf pisti
Comment[ven]=Thero ya Kolf
Comment[xh]=Umsebenzi weKolf 
Comment[zh_TW]=Kolf 路線
Comment[zu]=ibala le-Kolf
Icon=kolf
Type=MimeType
Patterns=*.kolf;*.course;*.kourse;
