# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kolf
Type=MimeType
Comment=Kolf saved game
Comment[bs]=Kolf snimljena igra
Comment[cs]=Uložená hra Kolfu
Comment[da]=Gemt Kolf-spil
Comment[de]=Gespeichertes Kolf-Spiel
Comment[el]=Αποθηκευμένο παιχνίδι του Kolf
Comment[eo]=Golfo ludkonservo
Comment[es]=Juego de Kolf guardado
Comment[et]=Salvestatud Kolf
Comment[fi]=Kolf talletettu peli
Comment[fr]=Partie de Kolf enregistrée
Comment[he]=משחק שמור של Kolf
Comment[hu]=Kolf elmentett állás
Comment[it]=Partita di Kolf salvata
Comment[ja]=Kolf の保存されたゲーム
Comment[nb]=Kolf lagret spill
Comment[nl]=Opgeslagen Kolf-spel
Comment[nn]=Lagra Kolf-omgang
Comment[pl]=Zapisana gra w Kolfa
Comment[pt]=Jogo gravado do Kolf
Comment[pt_BR]=Jogo Kolf salvo
Comment[ru]=сохранённая игра в гольф
Comment[sk]=Uložená hra Kolf
Comment[sl]=Shranjena igra za Kolf
Comment[sv]=Sparat Kolfspel
Comment[ven]=Mutambo wo vhulungwaho wa Kolf
Comment[xh]= IKolf igcine umdlalo 
Comment[zh_TW]=Kolf 儲存的遊戲
Comment[zu]=Umdlalo we-Kolf ugciniwe
Icon=kolf
Patterns=*.kolfgame
