# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kourse
Comment=Kolf Course
Comment[bg]=Курс на Kolf
Comment[da]=Kolf-bane
Comment[et]=Kolfi väljak
Comment[hu]=Kolf-pálya
Comment[nl]=Kolf-baan
Comment[pt]=Percurso do Kolf
Comment[pt_BR]=Percurso do Kolf
Comment[ru]=Площадка для гольфа
Icon=kolf
Type=MimeType
Patterns=*.kolf;*.course;*.kourse;
